*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  transition: all 0.3s ease;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.btns {
  display: flex;
  gap: 10px;
}

.btn {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.light-btn {
  background: #f1c40f;
}

.dark-btn {
  background: #e67e22;
  color: #fff;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  gap: 40px;
}

.text {
  max-width: 400px;
}

.text h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.btn-main {
  margin-top: 20px;
  padding: 12px 20px;
  background: orange;
  border: none;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

body.light {
  background: #dcd2c2;
  color: #000;
}

body.dark {
  background: #000;
  color: #fff;
}


